@page
@model BD_Wholesale_warehouse.Pages.Product_type1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Типы товаров</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_type[0].Product_type_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_type[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_type[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_type[0].Features)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product_type) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_type_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Features)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
