@page
@model BD_Wholesale_warehouse.Pages.Positions1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].PositionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Job_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Duties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Demands)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Positions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Demands)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
